body,html{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 14px;
    font-style: normal;
}
.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}